/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin:0;padding:0;
}

html, body {
    height: 100%;
    margin: 0;
}

li {
    list-style: none;
  }

.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }

.container{
    
    padding: 0px 16px;
    background-image: url("home_image.png");
    background-size: cover;
}

.header_select h2{
    padding: 4px 10px;
    float:left;
    font-size: 10px;
}
.home{
    height: 500px;
}

.home h3{
    font-size: 50px;
    color: White;
}

.contents-wrapper{
    padding: 10px 14px;
    display: flex;
}

.contents h1{
    float: center;
}

.btn{
    background-color: #dee7ec;
  color: #889eab;
}

.content-item {
    float: left;
    margin: 10px 16px;

}

.content-item img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
  
.content-item p {
    font-size: 17px;
    margin-top: 30px;
    text-align:center;
}

.center-text{
    margin-top: 20px;
    text-align:center;
}